<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.licon.admin.core.sys.mapper.ResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.licon.admin.core.sys.po.Resource">
        <id column="ID" property="id" />
        <result column="RESOURCE_ID" property="resourceId" />
        <result column="RESOURCE_PATH" property="resourcePath" />
        <result column="RESOURCE_NAME" property="resourceName" />
        <result column="RESOURCE_VERSION" property="resourceVersion" />
        <result column="CREATE_BY" property="createBy" />
        <result column="UPDATE_BY" property="updateBy" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="VERSION" property="version" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, RESOURCE_ID, RESOURCE_PATH, RESOURCE_NAME, RESOURCE_VERSION, CREATE_BY, UPDATE_BY, CREATE_TIME, UPDATE_TIME, VERSION
    </sql>

    <select id="findInResourcePath" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from sys_resource
        where
            RESOURCE_PATH = #{path}
    </select>
</mapper>
